.mainDiv{
    background-color: rgb(234, 176, 176);
    width: 97%;
    height: 20%;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
    margin: 0.5%;
}

.headerText{
    font-weight: bold;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
}

.homeIcon{
    cursor: pointer;
}