.parent1st{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-height: 500px;
    overflow-y: auto; 
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: pink;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(237, 168, 219); 
}