.parentDiv{
    border: 1px solid grey;
    width : 70%;
    height: 99.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardFooter{
    border: 1px solid red;
    background-color: azure;
    height: 100%;
}