.leftButton{
    position: absolute;
   left: 0%;
   top: 35% 
}

.rightButton{
    position: absolute;
   right: 0%;
   top: 35% 
}


.image{
    width: 100%;
    height: auto;
    object-fit: contain;
}